#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  color: #f0e9f8;
  background-color: #230833;
}

#titulo {
  background-color: #000000;
  width: 100%;
  padding: 1%;
}

.btn {
  padding: 1%;
  width: 30%;
  background-color: #da4be4;
  margin: 2%;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  color: #ffffff;
}

.btn:hover {
  background-color: #b011bb;
}

#subtitulo {
  padding: 2%;
}